li {
  border: 1px solid #000;
  border-radius: 5px;
  list-style: none;
  margin-bottom: 10px;

  span {
    cursor: pointer;
    display: block;
    padding: 10px;
  }

  &.active {
    border-color: #ff0000;
  }
}