header {
  background: #343C58;
  width: 100%;
  margin-bottom: 40px;

  .container {
    padding: 15px;
    max-width: 1200px;
  }

  h1 {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
}